* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    flex-wrap: wrap;min-height: 100vh;
}
/******************MAINS***********************/
.main-index{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-table{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.main-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-horarios{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/******************NAVBAR**************************/
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav li{
    margin: 5px;
    padding: 5px;
    font-family:Verdana;
    background-color: rgba(0, 0, 255, 0.39);
    border-radius: 20px;
}

nav p{
    font-weight: 600;
    color: white;
}

/*****************FOOTER*****************************/
footer{
    padding: 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1965161064) 27%, rgba(0, 0, 0, 0.4009978992) 57%, rgba(0, 0, 0, 0.4009978992) 100%, rgba(0, 0, 0, 0.4037990196) 100%);
    position: relative;
}

footer ul {
    color: white;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

footer ul li {
    padding-left: 20px;
    position: relative;
}

footer ul li:hover {
    cursor: pointer;
    color: rgb(0, 61, 255);
}
    
/******************INDEX***************************/
.title-index{
    display: flex;
    justify-content: center;
}
.img-index{
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
}
/******************TABLA**********************/

.all-name{
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    list-style: none;
}
.title-gen{
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.bands{
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif
}
.name-bands{
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    
}
.title-gen{
    font-size: 20px;
    background-color: rgb(66, 85, 49);
}
.title-music{
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
  
}
.table{
    background-color: rgb(184, 218, 181);
    border-radius: 5px;
}

.name1{
    background-color: aliceblue;
    border-radius: 5px;
}
.name2{
    border-radius: 5px;
}
.name3{
    background-color: aliceblue;
    border-radius: 5px;
}


/****************BOX*********************/
.div-box{
    display: flex;
    width: 400px;
    height: 150px;
    background-color: blueviolet;
    border: 4px dotted;
    border-radius: 20px;
    padding: 40px;
    margin: 50px;
    
}
.div-box h1{
    display: flex;
    margin: auto;
    font-family: impact;
    font-size: 32px;
    text-transform: uppercase;
    color: black;
}
 
 .rojo .verde .azul{
    position: absolute;
 }  

.rojo{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 20px;
    margin-top: 20px;
    

} 
.verde{
    background-color: green;
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 20px;
    margin-top: 20px;
}
.azul{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 20px;
    margin-top: 20px;
}
.gris{
    background-color: gray;
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 20px;
    margin-top: 20px;
}
/*******************************HORARIOS*************************************/
.table-horarios{
    border: black 2px solid;
}
.table-horarios tr{
    border: black 2px solid;
    font-weight: bold;
}


.content-table{ 
    border-collapse: collapse; 
    margin: 10px; 
    font-size: 16px; 
    font-family: sans-serif; 
    min-width: 450px; 
     
}

.content-table  thead tr { background-color: #007598; 
    color: #ffffff; 
}

.content-table th, .content-table td { 
    padding: 12px 15px; 
}

.content-table tr {
     border-bottom: 1px solid #dddddd;    
     }

.content-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3; 
    }

.content-table tbody tr:last-of-type {
     border-bottom: 2px solid #007598; 
    }
.closed{   
    font-weight:bold ;
}    
/********Media Querys************/
.ejemplo{
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: aqua;
}
@media only screen and (min-width:320px) and (max-width:576px) {
    .ejemplo{
        width: 100%;
        padding-left: 23px;
        flex-direction: column-reverse;
        background-color: coral;
        
    }
    .cajas{
        width: 100%;
    }
}